/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles start here */

body {
	background-color: #16202a;
	color: #fafbfc;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin-top: 40px;
}

p {
	border-bottom: 1px #38434d solid;
	padding: 15px;
}

h6 {
	display: inline;
}

.grid {

  display: grid;
  grid-template: "logo home empty" 96px
                 "logo tweetsection empty" 1000px
                 / 360px 900px 540px;

}

.logo {
  grid-row: 1 / span 2;
}

#biglogo {
	margin-top: 36px;
	text-align: center;
	font-size: 72px;
}

#twiddlertitle {
	margin-top: 50px;
	text-align: center;
	font-size: 48px;
	font-family: Pacifico, cursive;
}


.tweetsection {
  border-top: 1px #38434d solid;

}

#home {
	font-size: 20px;
	font-weight: 700;
}

button {
  background-color: #253340;
  border-left: 1px solid #38434d;
  border-right: 1px solid #38434d;
  border-top: none;
  border-bottom: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  margin: 0;
  width: 100%;
  outline: none;
}

button:hover {
  background-color: #9d7100;
}

.tweet {
  border-left: 1px #38434d solid;
  border-right: 1px #38434d solid;
}

.author {
	font-weight: 700;
	cursor: pointer;
}

.author:hover {
	text-decoration: underline;
}

.posted {
	color: #8899a6;
}

